
.Header1{
    display: flex;               /* Utiliza flexbox para el diseño */
    align-items: center;         /* Alinea los elementos verticalmente al centro */
    justify-content: space-between;  /* Espacio entre los elementos */
    padding: 10px;               /* Añade un poco de padding */
    background-color: #f8f9fa;
}
.Header1 img {
    max-height: 120px;  
 }   
 .menu {
    display: flex;               /* Utiliza flexbox para los elementos del menú */
    gap: 08px;                   /* Espaciado entre los enlaces del menú */
}

.menu a {
    text-decoration: none;       /* Quita el subrayado de los enlaces */
    color: #333;                 /* Color de los enlaces */
    font-size: 16px;             /* Tamaño de fuente de los enlaces */
    padding: 5px 10px;           /* Espaciado interno de los enlaces */
    transition: color 0.3s;      /* Transición suave para el color */
}

.menu a:hover {
    color: #007bff;              /* Color de los enlaces al pasar el ratón */
}

.card:hover{
    cursor: pointer;
    background-color: aqua;
    transition: 2s;    
}
.card-text{
    font-weight:bold;
}
.card-title{
    font-weight:bold;
}
.precio{
    font-weight:bold;
}
.Cards{
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        gap: 20px;
        background-color: #fff;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 60%;
}